<%- include ('Admin header.ejs') %>
        <table class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<PrDB.length;i++){ %>
                    <tr>
                        <td><%= PrDB[i].Product_ID %></td>
                        <td><img src="../Assets/My uploads/<%= PrDB[i].Product_Image %>" alt="<%= PrDB[i].Product_Name %>" height="50px"></td>
                        <td><%= PrDB[i].Product_Name %></td>
                        <td><%= PrDB[i].Product_Description %></td>
                        <td><%= PrDB[i].Product_Type %></td>
                        <td><%= PrDB[i].Product_Price %></td>
                        <td><a href="/Delete_item/<%= PrDB[i].Product_ID %>" class="btn btn-danger" onclick="return confirm('Delete record of <%=PrDB[i].Product_Name %>?')">Delete item</a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <table class="table table-bordered table-info">
            <tr>
                <form action="/Add_product" method="post" enctype="multipart/form-data">
                    <td><b>Add a new item</b>
                        <select hidden type="text" name="Dummy">
                            <option>Nullify</option>
                        </select>
                    </td>
                    <td><input type="file" name="Products_Image" required placeholder="Provide the Product image"></td>
                    <td><input type="text" name="Products_Name" required placeholder="Enter the Product name"></td>
                    <td><input type="text" name="Products_Description" required placeholder="Enter the Product description"></td>
                    <td>
                        <select name="Products_Type" required>
                            <option selected disabled value="">Select Product type</option>
                            <option>Clothes</option>
                            <option>Electronics</option>
                            <option>Grocery</option>
                        </select>
                    </td>
                    <td><input type="text" name="Products_Price" required placeholder="Enter the Product price"></td>
                    <td><button class="btn btn-success">Add item</button></td>
                </form>
            </tr>
        </table>
        <% if(message_003){ %>
            <center>
                <h1 class="text-success"><b><%= message_003 %></b></h1>
            </center>
        <% } %>
    </body>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
</html>