<%- include('Customer header.ejs') %>
        <div class="container mt-4">
            <div class="row mt-4">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Product Type</th>
                            <th>Product Image</th>
                            <th>Order Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="/Calculate" method="post">
                            <input type="hidden" name="ProdID" value="<%= Record[0].Product_ID %>">
                            <input type="hidden" name="ProdName" value="<%= Record[0].Product_Name %>">
                            <input type="hidden" name="ProdPrice" value="<%= Record[0].Product_Price %>">
                            <input type="hidden" name="ProdType" value="<%= Record[0].Product_Type %>">
                            <input type="hidden" name="ProdImage" value="<%= Record[0].Product_Image %>">
                            <tr>
                                <td><%= Record[0].Product_ID %></td>
                                <td><%= Record[0].Product_Name %></td>
                                <td><%= Record[0].Product_Price %></td>
                                <td><%= Record[0].Product_Type %></td>
                                <td><img src="../Assets/My uploads/<%= Record[0].Product_Image %>" alt="<%= Record[0].Product_Image %>" width="100px" height="100px"></td>
                                <td><input type="number" min="1" max="25" name="ProdQuantity" required placeholder="Decide quantity"></td>
                                <td><button class="btn btn-primary">Proceed</button></td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>